*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  // border: 1px solid red;
}

$menu-font: 'Montserrat';

@font-face {
  font-family: CooperHewitt;
  src: url('/fonts/cooper hewitt/CooperHewitt-Medium.otf');
  font-style: normal;
  font-weight: 100;
}

$slant: 10rem;
$page-padding: 1.75vw;

.container {
  width: 100%;
  display: grid;
  padding-top: $page-padding;

  grid-template-columns:

    [margin-start] $page-padding [margin-end center-start] repeat(10, [col-start] minmax(min-content, 1fr) [col-end]) [center-end margin2-start] $page-padding [margin2-end];

  grid-template-rows:
    repeat(3, min-content);

}