<div class="footer">

  <div class="footer__menu">
    <a class="footer__menu--item" href="#">HOME</a>
    <a class="footer__menu--item" href="#">ABOUT</a>
    <a class="footer__menu--item" href="#">CAREERS</a>
    <a class="footer__menu--item" href="#">INFO</a>
    <a class="footer__menu--item" href="#">CONTACT</a>
  </div>


  <img src="/images/logo-footer.png" alt="" class="footer__logo">

  <div class="footer__description">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus animi cum assumenda incidunt vero, magni sunt
    itaque modi dicta, quis illum similique vel soluta aliquam quam ducimus quas amet accusamus.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus animi cum assumenda incidunt vero, magni sunt
    itaque modi dicta, quis illum similique vel soluta aliquam quam ducimus quas amet accusamus.
  </div>

</div>