<div <% if (page_name==='overview' ) { %> class="menu__menu-overviewPage menu" <% } %> class="menu">
    <ul class="menu__container">
      <a href="/" class="menu__container--item">
        <li>
          HOME
        </li>
      </a>

      <a href="/newStory" class="menu__container--item">
        <li>
          NEW STORY
        </li>
      </a>

      <% if (!user) { %>
        <a href="/login" class="menu__container--item">
          <li>
            LOGIN
          </li>
        </a>
        <a href="/signup" class="menu__container--item">
          <li>
            SIGN UP
          </li>
        </a>
        <% } else { %>
          <a href="/account" class="menu__container--item">
            <li class="menu__container--item">
              <%=user.name %>
                <% if (user.images[0]) { %>
                  <img style="height: 40px; width: 40px; border-radius: 100%; margin-left: 10px;"
                    src="<%=user.images[0].url %>" alt="">
                  <% } %>
            </li>

          </a>
          <a href="/api/v1/users/logout" id="logoutBtn" class="menu__container--item">
            <li>
              LOG OUT
            </li>
          </a>
          <% } %>

    </ul>
</div>