<% layout('/layouts/boilerplate')%>

<div class="container-login">
    <form id="form" action="">
        <div class="form_group">
            <label for="email">Email Address</Address></label>
            <input id="email" type="email" placeholder="email">
        </div>
        <div class="form_group">
            <label for="password">Email Address</Address></label>
            <input id="password" type="password" placeholder="password">
        </div>
    <button>submit</button>
    </form>
</div>




