<% layout('/layouts/boilerplate')%>

  <style>
    .ck-editor__editable_inline {
      min-height: 400px;
    }

    .coverImageContainer {
      width: 100%;
      height: 35vw;
      margin: 15px auto;
      display: flex;
      align-items: center;
      background-color: rgb(174, 174, 174);
      border-radius: 3px;
    }

    .placeholderText {
      margin: 0 auto;
    }

    .coverImage {
      display: none;

      object-fit: cover;
      margin: 0 auto;
    }
  </style>

  <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet"
    type="text/css" />
  <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
  <script>
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $('#blah').attr('src', e.target.result).css({ width: "100%", height: "100%", display: "block" });
          $('.placeholderText').css({ display: "none" });
        };

        reader.readAsDataURL(input.files[0]);
      }
    }
  </script>

  <div class="container-newStory">
    <div class="wysiwyg">
      <form class="wysiwyg__form" method="POST" action="/api/v1/stories/newStory" enctype="multipart/form-data"
        novalidate class="validated-form">
        <div class="wysiwyg__form__form_group">
          <label for="tile"></label>
          <input class="wysiwyg__form__title" id="title" type="text" placeholder="Title..." name="title">
        </div>

        <div class="wysiwyg__form__form_group">
          <input type="file" id="image" name="image" onchange="readURL(this);">
        </div>
        <!-- working below here -->
        <div class="coverImageContainer">
          <p class="placeholderText">
            Cover Photo
          </p>
          <img id="blah" src="#" alt="your image" class="coverImage" />
        </div>
        <!-- working above here -->
        <textarea name="editor1" id="editor1">
            </textarea>
        <input class="wysiwyg__form__submitButton" type="submit" value="Create New Story">
      </form>

      <script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
      <script>
        ClassicEditor
          .create(document.querySelector('#editor1'))
          .catch(error => {
            console.error(error);
          });
      </script>
    </div>
  </div>