<% layout('/layouts/boilerplate')%>

  <style>
    .ck-editor__editable_inline {
      min-height: 400px;
    }
  </style>

  <div class="container-newStory">
    <div class="wysiwyg">
      <form class="wysiwyg__form" method="POST" action="/api/v1/users/newStory" novalidate class="validated-form">
        <div class="wysiwyg__form__form_group">
          <label for="tile"></label>
          <input class="wysiwyg__form__title" id="title" type="text" placeholder="Title..." name="title">
        </div>
        <textarea name="editor1" id="editor1">
            </textarea>
        <input class="wysiwyg__form__submitButton" type="submit" value="Create New Story">
      </form>

      <script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
      <script>
        ClassicEditor
          .create(document.querySelector('#editor1'))
          .catch(error => {
            console.error(error);
          });
      </script>
    </div>
  </div>