<% layout('/layouts/boilerplate')%>


  <div class="container-overview">
    <div class="header">
      <div class="header__textContainer">
        <h1 class="header__heading">
          There's a Story in
          <span href="" class="typewrite" data-period="2000" data-type='[ "All of Us", "All" ]'>
            <span id="id" class="wrap"></span>
          </span>
        </h1>
        <hr>
        <h3 class="header__heading--sub">Smart Decisions. Good Data. Informed pursuits.</h3>
      </div>
    </div>

    <div class="header__backgroundSkew"></div>
    <div class="header__backgroundSkew-2"></div>

    <div class="section-1">
      <div class="section-1__toBeNamedLaterText">
        <h1>
          Featured Stories
        </h1>
        <h2>
          Get someone with a proven track record
        </h2>
      </div>
      <div class="cardArea">
        <div class="cardArea__card">
          <div class="cardArea__card--backgroundPicture cardArea__card--backgroundPicture--1"></div>
        </div>
        <div class="cardArea__card">
          <div class="cardArea__card--backgroundPicture cardArea__card--backgroundPicture--2"></div>
        </div>
        <div class="cardArea__card">
          <div class="cardArea__card--backgroundPicture cardArea__card--backgroundPicture--3"></div>
        </div>
        <div class="cardArea__card">
          <div class="cardArea__card--backgroundPicture cardArea__card--backgroundPicture--4"></div>
        </div>
        <div class="cardArea__card">
          <div class="cardArea__card--backgroundPicture cardArea__card--backgroundPicture--5"></div>
        </div>
      </div>
    </div>
    <div class="section-2">

    </div>
    <!-- <div class="section-3">

    </div> -->
  </div>

  <script src="/javascripts/typewriter.js"></script>