<% layout('/layouts/boilerplate')%>


<div class="container-overview">
    <div class="header">
        <div class="header__textContainer">
            <h1 class="header__heading">
                Solving Gerd 
                <span href="" class="typewrite" data-period="2000" data-type='[ "Together", "Finally", "Forever" ]'>
                    <span id="id" class="wrap"></span>
                </span>           
            </h1>
            <hr>
            <h3 class="header__heading--sub">Smart Decisions. Good Data. Informed pursuits.</h3>
        </div>
    </div>

    <div class="header__backgroundSkew"></div>
    <div class="header__backgroundSkew-2"></div>
    
    <div class="section-1">
        <div class="section-1__content">
        </div>
        <div class="section-1__toBeNamedLaterText">
            <h1>
                Experienced Surgeons
            </h1>
            <h2>
                Get someone with a proven track record
            </h2>
        </div>
        <div class="section-1__testIt">
            <div class="section-1__testIt__insideBox">

            </div>
        </div>
    </div>
    <div class="section-2">
        
    </div>
    <div class="section-3">

    </div>
</div>

<script src="/javascripts/typewriter.js"></script>