<% layout('/layouts/boilerplate')%>


  <div class="container-overview">
    <div class="header">
      <div class="header__textContainer">
        <h1 class="header__heading">
          There's a Story in
          <span href="" class="typewrite" data-period="2000" data-type='[ "All of Us", "All" ]'>
            <span id="id" class="wrap"></span>
          </span>
        </h1>
        <hr>
        <h3 class="header__heading--sub">Short Stories. Engaging Narratives. Unleashed Imaginations.</h3>
      </div>
    </div>

    <div class="header__backgroundSkew"></div>
    <div class="header__backgroundSkew-2"></div>

    <div class="section-1">
      <div class="section-1__toBeNamedLaterText">
        <h1>
          Featured Stories
        </h1>
        <h2>
          Read from one of the selected stories
        </h2>
      </div>
      <div class="cardArea">
        <% featuredStories.forEach((story, index)=> { %>
          <div class="cardArea__card">
            <div class="cardArea__card--backgroundPicture cardArea__card--backgroundPicture--<%= index + 1 %>"
              style="background-image: url('<%= story.coverPicture %>');"></div>
          </div>
          <% }); %>
      </div>
    </div>
    <div class="section-2">
    </div>
  </div>

  <script src="/javascripts/typewriter.js"></script>