.footer {
    grid-column: center-start / center-end;
    grid-row: 3/4;

    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
    grid-template-rows: 200px 170px;

    background-color: black;

    margin-bottom: $page-padding;

    &__menu {
        grid-row: 1/2;
        grid-column: 1/2;

        display: flex;
        flex-grow: 1;
        // background-color: seagreen;
        align-items: flex-start;
        justify-content: space-between;
        padding: 2rem 0;
        margin: 2.5rem 4rem 0;


        border-top: 2px solid white;


        &--item {
            color: white;
            text-decoration: none;
            display: block;
            text-align: center;
            font-family: $menu-font;
            font-size: 1.4rem;

            &:hover{
                color: rgb(255, 187, 0)
            }
        }
    }

    &__description {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
        color: white;
        border-top: 2px solid white;
        margin: 2.5rem 4rem 0;


        font-family: $menu-font;
        font-size: 1.4rem;
        padding: 2rem 0;

        align-self: flex-start;
    }

    &__logo {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        margin: 0 auto;
    }

    &__bottom-div {
        grid-row:2/3;
        grid-column: 1/-1;
        background-color: burlywood;
    }
}