.container-account {
    grid-column: center-start / center-end;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(10, [col-start] minmax(min-content, 1fr) [col-end]);
    grid-template-rows: 
    70rem;

    background-color: rosybrown;
}